{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold">{% if object %}Редактировать пост {% else %}Новый пост{%endif%}</h1>

<form class="flex flex-col gap-4" method="post">
    {%csrf_token%}
    <div>
        <label for="title" class="block text-sm text-zinc-500">Заголовок</label>
        <input id="title" value='{{ title_value}}' name="title" type="text" class="w-full ps-4 py-2 border border-zinc-300 text-base rounded-lg"/>
        {%if errors.title %}
            <p class="text-red-500 text-sm mt-1">{{errors.title }}</p>
        {%endif%}
    </div>
    <div>
        <label for="title" class="block text-sm text-zinc-500">Текст поста</label>
        <textarea id="title" name="text" class="w-full ps-4 py-2 border border-zinc-300 text-base rounded-lg min-h-20">{{text_value }}</textarea>
        {%if errors.text %}
            <p class="text-red-500 text-sm mt-1">{{errors.text }}</p>
        {%endif%}
    </div>
    <button type='submit' class="flex items-center justify-center h-11 px-6 bg-black text-white text-base font-medium rounded-lg">{% if object %}Сохранить{% else %}Создать{%endif%}</button>

</form>


{% endblock %}
